@import 'reset';
@import '_mixins.scss';

body {
  color: #ffffff;
  background-color: #2b2b2b;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.searcher {
  padding-top: 2.5vh;
  height: 7vh;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include media-vertical {
    justify-content: space-evenly;
  }
  @include media-mobile {
    padding-top: 3vh;
    height: 8vh;
  }
}

#search {
  width: 25vw;
  height: 5vh;
  font-size: 1.2rem;
  border-style: none;
  border-radius: 5px;
  margin-right: 8px;
  padding-left: 4px;
  box-shadow: 0 0 6px #ffffff;

  @include media-vertical {
    width: 40vw;
  }

  @include media-mobile {
    height: 7vh;
  }
}

.btn {
  background-color: #ffffff;
  height: 5vh;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  box-shadow: 0 0 6px #ffffff;
  padding: 0 1vw;

  @include media-vertical {
    width: 20vw;
  }

  @include media-mobile {
    height: 7vh;
  }
}

.btn-search {
  margin-right: 8px
}

.slider {
  margin-top: 3.5vh;

  @include media-vertical {
    margin-top: 6vh
  }

}

.welcome-tile {
  img {
    width: 100%
  }
}

.carousel-inner {
  box-shadow: 0 0 10px #ffffff;
  border-radius: 6px;
}

img {
  width: 100%;
  height: 85vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;

  @include media-vertical {
    height: 80vh
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 25px;
  height: 25px
}

.hidden {
  display: none
}